<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View todo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Todo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/add-to-do">Add todo</a>
                    <a class="nav-link" active href="/get-all-user">Users</a>
                </div>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(req.user) %>
                    <a class="nav-link" href="/get-all-to-do">
                        <%= req.user.username %>
                    </a>
                    <a class="nav-link" href="/log-out">Log out</a>
            </div>
        </div>
    </nav>
    <main class="container mt-5">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                <h2>Edit todo</h2>
                <form action="/update-to-do/<%= foundTodo.id %> " method="post">
                    <div class="card">
                        <div class="card-header">
                            <label for="name">Todo name: </label>
                            <input class="card-title" type="text" name="name" id="name" size="40"
                                value="<%= foundTodo.name %>">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <textarea class="card-text" name="description" id="description" cols="65" rows="5"
                                    placeholder="Description"><%= foundTodo.description %></textarea>
                            </div>
                            <div class="py-3">
                                <label for="dateofcompletion">This task must be done before: </label>
                                <input type="datetime-local" name="dateofcompletion" id="dateofcompletion"
                                    value=<%=datetime.dateOfCompletion%>>
                            </div>
                            <p>Status: <%= foundTodo.status %>
                            </p>
                            <% if(foundTodo.status==='new' ){ %>
                                <button class="btn btn-success my-2">Save to-do</button>
                                <% } %>
                </form>
                <% if(foundTodo.status==='new' ){ %>
                    <form action="/remove-to-do/<%= foundTodo.id %>" method="post">
                        <button class="btn btn-danger d-inline">Delete
                            to-do</button>
                    </form>
                    <% } %>
            </div>
            <a class="btn btn-primary" href="/get-all-to-do"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg> Go back</a>

        </div>
        </div>
        <div class="col-4">
            <h5>Assign this task to a different user</h5>
            <table class="border">
                <% for(let i=0;i<allUsers.length;i++){ %>
                    <tr class="border">
                        <td class="p-2">
                            <form action="/assign-to-do/<%= foundTodo.id %>/<%= allUsers[i].id %>" method="post">
                                <button class="btn btn-success btn-sm">Assign to</button>
                            </form>
                        </td>
                        <td class="p-2">
                            <%= allUsers[i].username %>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        </div>

    </main>
    <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>